In [45]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [46]:
URL = "https://skm.dk/tal-og-metode/statistik/arkiv/pensionsformuen-1984-2015"
r = requests.get(URL)
soup = BeautifulSoup(r.content, 'html5lib')

In [99]:
table = soup.find("div", class_="table-responsive").find("table")

# Extract rows
rows = table.find_all("tr")
data = []
for row in rows:
    cols = row.find_all(["td", "th"])
    cols = [ele.get_text(strip=True) for ele in cols]
    data.append(cols)

# Convert to DataFrame
df = pd.DataFrame(data[1:], columns=data[0]).iloc[1:,:-1]
df_T = df.T
df_T.columns = df_T.iloc[0,:]
df_T = df_T.iloc[1:,:]
def til_float(x):
    try:
        # Remove thousands separator and fix decimal comma
        return float(x.replace('.', '').replace(',', '.'))
    except:
        return np.nan  # Return NaN if conversion fails
df_final = df_T.applymap(til_float)
df_final = df_final.iloc[2:,:]
df_final['aar'] = df_final.index

C:\Users\B224264\AppData\Local\Temp\ipykernel_26036\1637184673.py:22: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_final = df_T.applymap(til_float)

In [100]:
df_final

Mia. kr.,Livsforsikringsselskaber,Pensionskasser,Pengeinstitutter,ATP,DMP og SP,LD,Pensionsformuen,Procentvis vækst,Pensionsformuen i pct. af BNP,aar
2008,1119.0,439.0,309.0,564.0,45.0,59.0,2535.0,6.0,141.0,2008
2009,1212.0,481.0,379.0,609.0,4.0,60.0,2744.0,8.3,159.0,2009
2010,1351.0,529.0,405.0,758.0,2.0,57.0,3103.0,13.1,171.0,2010
2011,1496.0,609.0,399.0,776.0,2.0,59.0,3341.0,7.7,181.0,2011
2012,1682.0,622.0,438.0,791.0,3.0,62.0,3598.0,7.7,190.0,2012
2013,1757.0,638.0,445.0,677.0,0.0,64.0,3581.0,-0.5,186.0,2013
2014,2013.0,706.0,424.0,812.0,0.0,61.0,4016.0,12.1,203.0,2014
2015,2074.0,731.0,394.0,781.0,0.0,50.0,4030.0,0.4,199.0,2015

In [101]:
pl_sats = {
    "2008": 1.41957010713766,
    "2009": 1.37822340498802,
    "2010": 1.34198968353264,
    "2011": 1.32607676238403,
    "2012": 1.30007525273925,
    "2013": 1.28212550023594,
    "2014": 1.26692243106318,
    "2015": 1.24329973600771,
    "2016": 1.21534676058427,
    "2017": 1.18918469724488,
    "2018": 1.1624483844036,
    "2019": 1.134095984784,
    "2020": 1.112949936,
    "2021": 1.081584,
    "2022": 1.044
}

In [102]:
pl_sats['2008']

1.41957010713766

In [109]:
formue_ = []
for i in df_final.index:
    formue_.append(df_final[df_final['aar'] == i]['Pensionsformuen']* pl_sats[i])

In [112]:
abe = np.array(formue_)

In [123]:
np.mean((abe[1:] -abe[:-1])/abe[:-1]*100)*(1-0.153)

np.float64(4.189557674028464)

In [124]:
np.mean((abe[1:] -abe[:-1])/abe[:-1]*100)*(1-0.42)

np.float64(2.8688824686381458)

In [69]:
df_T.iloc[1,1].find('.')

-1

In [ ]:
def til_float(x):
    return float(x.replace('.',''))
df_T.map(til_float)

In [59]:
df_T.map(til_float)

ValueError: could not convert string to float: '6,4'

In [ ]:
df_T.iloc[1,0].replace('.','')

'1054'